<div class="container">
	<div class="inline">
		<button id="gz01">GZ01</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz01.fb01">GZ01.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz01.fb02">GZ01.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<div class="container">
	<div class="inline">
		<button id="gz02">GZ02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz02.fb01">GZ02.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz02.fb02">GZ02.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz201">GZ201</button>
		<table>
			<tr>
				<td>Inline P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>Inline W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On PO:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
<div class="container">
	<div class="inline">
		<button id="gz03">GZ03</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz03.fb01">GZ03.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz03.fb02">GZ03.FB02</button>
		<table>
			<tr>
				<td>P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Mode:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="inline">
		<button id="gz202">GZ202</button>
		<table>
			<tr>
				<td>Inline P/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>Inline W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On PO:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On W/O:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/C:</td>
				<td></td>
			</tr>
			<tr>
				<td>Dimension:</td>
				<td></td>
			</tr>
			<tr>
				<td>P/On Batch:</td>
				<td></td>
			</tr>
			<tr>
				<td>Lot:</td>
				<td></td>
			</tr>
			<tr>
				<td>Carrier:</td>
				<td></td>
			</tr>
		</table>  
	</div>
</div>
<div>
	<button (click)="addLine()">AddLine</button>
</div>